{% extends 'senadlake/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% include 'senadlake/partials/banner.html' %}

<div class="col-11 mx-auto mb-5">
    <div class="col-5 mx-auto mt-4">
        <h1 class="c">Projecto</h1>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>OBJETIVO</h4>
        <p>El objetivo es la creación de un DATA LAKE con toda la infraestructura necesaria para servir como laboratorio de prácticas en un ambiente y tiempo real para los estudiantes y practicantes del SENA.</p>
        <p>Este proyecto se gestara desde su principio con intención de escalar a grado no solo de instrumento de educación pero con capacidad de prestar asesorías a empresas en temas de Analítica de Datos, Inteligencia de Negocios, Centros de Datos y eventualmente la posibilidad de desarrollo de Inteligencia Artificial.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>POR QUE UN DATA LAKE</h4>
        <p>Cuando se piensa en el almacenamiento y procesamiento de datos, usualmente se piensa en datos limpios, organizados y listos, pero un científico de datos sabe que los datos sin procesos o en formatos originales son más valiosos. Teniendo en cuenta que en el proceso de limpieza de datos se desprecian gran cantidad de partes de estos datos.</p>
        <p>Es bien sabido que la data que se ve irrelevante en este momento, puede ser de valor incalculable en un futuro.</p>
        <p>En un Data Lake se guardan datos en una gran variedad de formatos, sin alterar ni modificar, de esta manera, se puede buscar determinada información en el presente y sacar diferentes conclusiones de la misma data en un futuro.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>IMPORTANCIA DE UN DATA LAKE</h4>
        <p>Los equipos son de gran escalabilidad y de bajo costo, esto permite almacenarlo todo sin descartar nada.</p>
        <p>La parte de computo va separada y puede ser accesible desde casi cualquier parte sin costos adicionales lo que hace que las cargas computacionales y de análisis estén a cargo del usuario.</p>
        <p>La facilidad del acceso a los datos, promueve el autoservicio y facilita el montaje y desmontaje de entornos de prototipos y sandbox analíticos rápidamente.</p>
        <p>El almacenamiento de los datos es confiable ya que estos están en estado original y sin alteración.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h2 class="c">“UN DATA CENTER DEL SENA PARA EL SENA”</h2>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>PLAN DE TRABAJO</h4>
        <p>Para el diseño y desarrollo de este proyecto se contará con el apoyo y cooperación de varias fichas que cuenten con el conocimiento requerido para las diferentes tareas a ejecutar.</p>
        <p>Lo que se busca es que todo el proceso sea ejecutado por los aprendices de las fichas pertinentes obviamente bajo la supervisión de los Instructores de cada ficha.</p>
    </div>

    <div class="col-11 mx-auto mt-4">

        <h3>FASES DE CONSTRUCCIÓN</h3>
        <ul class="lists">
            <li>Fase 1. - Permisos y Autorizaciones</li>
            <li>Fase 2. - Diseño General</li>
            <li>Fase 3. - Coordinación de las Fichas Involucradas</li>
            <li>Fase 4. - Adecuación y Conexión de Equipos</li>
            <li>Fase 5. - Configuración Inicial de Equipos</li>
            <li>Fase 6. - Instalación de Software Necesario</li>
            <li>Fase 7. - Ingesta de Datas</li>
            <li>Fase 8. - Pruebas Iniciales</li>
            <li>Fase 9. - Desarrollo de Programas Para Aprendices y Practicantes</li>
            <li>Fase 10. - Programa de Mantenimiento Preventivo y Correctivo</li>
            <li>Fase 11. - Documentación</li>
            <li>Fase 12. - Planeación de Escalamiento</li>
        </ul>

    </div>
    
    <div class="col-11 mx-auto mt-4">
        <h4>Fase 0. - Presentación del Proyecto</h4>
        <p>En esta Fase se presenta el proyecto al coordinador Gustavo Beltrán Macias para su aprobación y consentimiento, estando conscientes que él estará informado constantemente del progreso y desarrollo del proyecto en caso de ser aprobado.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 1. - Permisos y Autorizaciones</h4>
        <p>En esta fase se buscarán los permisos legales y extra-legales necesarios para el uso de las instalaciones, Los equipos requeridos, las licencias de software necesarias y las reglas requeridas en la sala acordadas por el coordinador o el responsable de la sala de cómputo.</p>
    </div>
    <div class="col-11 mx-auto mt-4">
        <h4>Fase 2. - Diseño General</h4>
        <p>Durante esta etapa se realiza el diseño del proyecto en general que incluye la coordinación de las diferentes fichas para que cada una haga el diseño de la parte que le corresponde, las necesidades de personal (Aprendices), hardware, software, servicios (Luz, agua, internet, teléfonos, etc.), información y todo lo pertinente a las necesidades para desarrollo de labores a realizar por cada ficha.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 3. - Coordinación de las Fichas Involucradas</h4>
        <p>En esta etapa se busca la organización y coordinación del personal (Aprendices) de las diferentes fichas involucradas para lograr un desarrollo armónico de las tareas a desarrollar.</p>
        <p>Las posibles fichas a involucrar son:</p>
        <p>Tecnologo en gestión logística, Técnico en Sistemas, Técnico en seguridad y salud en el trabajo, Tecnologo en análisis y desarrollo en sistemas de información, Tecnólogo en redes, Programación para analítica de datos.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 4. - Adecuación y Conexión de Equipos</h4>
        <p>Durante esta fase se desarrolla la adecuación de los equipos designados contando con las capacidades necesarias para su labor, ubicación de estos equipos y terminales en la sala designada, la interconexión de estos a las redes eléctricas y de internet, intranet y otras.</p>
        <p>Hay que tener en cuenta que el proyecto se esta planteando para ser escalable, por tanto se solicita el mínimo para comenzar con el proyecto.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 5. - Configuración Inicial de Equipos</h4>
        <p>Para esta etapa se busca que los equipos trabajen de manera correcta con la configuración básica de hardware y software necesaria para un excelente desempeño.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 6. - Instalación de Software Necesario</h4>
        <p>En esta fase se busca instalar el software necesario para las tareas específicas a realizar, la configuración del data lake y las herramientas pertinentes para el uso y abuso de este.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 7. - Ingesta de Datas</h4>
        <p>Este es el momento en que se comenzará la alimentación de datos al data lake, observando su comportamiento.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 8. - Pruebas Iniciales</h4>
        <p>Se comienzan las pruebas del hardware y el software instalado para las prácticas que se desarrollaran en esta sala.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 9. - Desarrollo de Programas Para Aprendices y Practicantes</h4>
        <p>En esta etapa se diseñarán los proyectos que los aprendices podrán desarrollar como limpieza y preparación de datos dejándolos listos para su análisis y uso de herramientas como power bi para análisis avanzado de data destinada a inteligencia de negocios y otros posibles programas que puedan surgir durante la utilización de esta tecnología.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 10. - Programa de Mantenimiento Preventivo y Correctivo</h4>
        <p>Desarrollo de los programas de mantenimiento preventivo y correctivo del hardware y software, aseo de los equipos y de la sala, cableado e incluso de la parte civil de la sala de ser necesario.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 11. - Documentación</h4>
        <p>Esta etapa se recolecta toda la información que resulte de el desarrollo del proyecto en todas sus áreas, dejando constancia de cada paso y cada tarea realizada y sus resultados tanto positivos como negativos para testimonio y referencia a futuras generaciones tanto Instructores como aprendices del SENA y posiblemente para otras entidades interesadas en proyectos similares.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 12. - Planeación de Escalamiento</h4>
        <p>En este punto se podrán hacer estudios de escalamiento del centro, observando la posibilidad de llevar el proyecto a otro nivel como seria una nube propia del Territorio Nacional o un centro de cómputo más especializado que preste servicios a entidades públicas y privadas, proveyendo una experiencia mayor y mas técnica para los aprendices y/o otros profesionales del área en diferentes entidades.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>FINALIDAD</h4
        <p>Lo que se busca con la construcción del Data Lake es tener una herramienta que sea real para propósitos educativos a los diferentes temas que se dictan en el SENA, entre los cuales se pueden contar:</p>
        <ul class="lists">
            <li>- Cómo trabaja un Data Lake desde el punto de vista de los equipos, conexiones y configuración.</li>
            <li>- Una herramienta potente para el análisis y procesamiento de datos.</li>
            <li>- Prestación de servicios de datos a los diferentes centros del sena.</li>
            <li>- La posibilidad de escalar a servicios de asesoramiento a otras entidades y la empresa privada.</li>
        </ul>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h3>PUNTOS DE INVESTIGACIÓN Y APRENDIZAJE</h3>
        <p>Áreas que el Data Lake permitirá desarrollar</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>EN EL HARDWARE</h4>
        <p>La construcción del Data Lake da la oportunidad de generar un ambiente ideal para la prácticas en:</p>
        <ul class="lists">
            <li>- Diseño del salón de cómputo ~ Ubicación y posición de los diferentes equipos.</li>
            <li>- Instalación y ensamblado ~ Armado de los equipos</li>
            <li>- Conexión y redes ~ La interconexión de los equipos tanto en el sitio como los perimetrales</li>
            <li>- Configuración inicial ~ Instalación y configuración de los sistemas operacionales, protocolos de conexión y comunicación entre ellos.</li>
            <li>- Puesta en trabajo ~ Los equipos ya estarán listos para comenzar con las labores. </li>
        </ul>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>EN SOFTWARE</h4>
        <p>Permitirá el aprendizaje y practica de instalación de software especializado para el desarrollo de las diferentes tareas</p>
        <ul class="lists">
            <li>- Lenguajes de programación</li>
            <li>- las diferentes bases de datos que se consideren adecuadas</li>
            <li>- software para manipulación de data</li>
            <li>- programas para análisis de datos</li>
            <li>- Otro software que se pueda aprovechar</li>
        </ul>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>EN ANALÍTICA DE DATOS</h4>
        <p>El Data Lake permitirá un estudio e investigación más profunda de los procesos de datos como:</p>
        <ul class="lists">
            <li>- Ingestión de data ~ cómo buscar y manipular los datos</li>
            <li>- Almacenamiento de datos ~ clasificación para el almacenamiento</li>
            <li>- Limpieza de datos ~ procesos a los datos</li>
            <li>- Bases de datos ~ manipulación de datos en las diferentes bases de datos</li>
            <br>
            <li>- Analítica descriptiva ~ ¿Qué fue lo que pasó?</li>
            <li>- Analítica de Diagnóstico ~ ¿Por qué pasó?</li>
            <li>- Analítica Predictiva ~ ¿Qué va a Pasar?</li>
            <li>- Inferencia Causal ~ Que podíamos haber hecho?</li>
            <li>- Machine Learning</li>
            <li>- Procesamiento de lenguaje natural</li>
        </ul>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>RECURSOS</h4>
        <p>Como se comento anteriormente, comenzaremos con lo mínimo requerido en equipos, estos pueden ser:</p>
        <p class="atxt1a">Hardware</p>
        <p>El hardware requerido en este momento, tengo entendido que ya existe en las instalaciones del SENA y solo seria que fuera asignado para comenzar el desarrollo del proyecto.</p>
        <ul class="lists">
            <li>- 1 Servidor</li>
            <li>- 16 gb memoria ram minimo</li>
            <li>- 10 Terabytes de almacenamiento </li>
            <li>- 2 Terminales con mínimo 8 gb de memoria ram c/u</li>
            <li>- Cables para conexiones</li>
        </ul>

        <p class="atxt1a">Software</p>
        <p>Para comenzar utilizaremos en lo posible software open source o software libre, como:</p>
        <ul class="lists">
            <li>- Ubuntu Server: https://ubuntu.com/#download</li>
            <li>- Libre Office: https://www.libreoffice.org/download/download-libreoffice/</li>
            <li>- big-data-analytics: https://www.selecthub.com/big-data-analytics/open-source-big-data-analytics-software/, https://www.guru99.com/big-data-analytics-tools.html</li>
        </ul>

        <p class="atxt1a">Otros</p>
        <p>El resto se las necesidades pueden hacerse durante el desarrollo del proyecto y se definirán en la etapa de diseño, como pueden ser:</p>
        <ul class="lists">
            <li>- Obras civiles</li>
            <li>- Acondicionamiento del área asignada</li>
            <li>- Mantenimientos</li>
            <li>- Equipos de enfriamiento o aire acondicionado</li>
            <li>- Otros</li>
        </ul>

    </div>

    <div class="col-11 mx-auto mt-4">
        <p>Lo que se propone en la primera etapa es la creación del Data Lake usando los recursos existentes sin generar costo alguno y con mano de obra de los aprendices del centro como laboratorio experimental para ellos pero a largo plazo para el Data Lake en si mismo y preparando el camino a la escalabilidad y crecimiento de este.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h5>Gabriel Eduardo Masutier Robayo</h5>
        <h6>Aprendiz SENA</h6>
        </h6>Ficha 2671743 Programación para Analítica de Datos</h6>
        <hr>
        <p>Bogotá D.C. Marzo 9 2023</p>
    </div>

</div>
{% endblock %}
