{% extends 'senadlake/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% include 'senadlake/partials/banner.html' %}

<div class="col-11 mx-auto mb-5">
    <div class="col-5 mx-auto mt-4">
        <h1 class="c">Projecto</h1>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>OBJETIVO</h4>
        <p>El objetivo es la creación del DATALAKE es el tener un centro de acopio de los datos del CENTRO DE GESTIÓN DE MERCADOS, LOGÍSTICA Y TECNOLOGÍAS DE LA INFORMACIÓN aplicando infraestructura y recursos para el buen funcionamiento de este.</p>
        <p>El DATALAKE sera utilizado para procticas de laboratorio en las áreas de desarrollo de software, programación para Analítica de Datos y las demas areas academicas del SENA propiciando un ambiente para la investigacion, desarrollo e innovacion (I+D+I).</p>
        <p>Apoyo en la labor administrativa para los centros de formación del SENA en almacenamiento y procesamiento de datos, ademas de procesos de investigacion de mercadeo y logistica.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>OBJETIVO FUTURO</h4>
        <p>Este proyecto se gestara desde su principio con intención de escalar a grado no solo de instrumento de educación pero con capacidad de prestar asesorías a empresas en temas de Analítica de Datos, Inteligencia de Negocios, Centro de Datos, Deposito de Datos y eventualmente la posibilidad de desarrollo de Inteligencia Artificial.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>POR QUE UN DATALAKE</h4>
        <p>Cuando se piensa en el almacenamiento y procesamiento de datos, usualmente se piensa en datos limpios, organizados y listos, pero un científico de datos sabe que los datos sin procesos o en formatos originales son más valiosos. Teniendo en cuenta que en el proceso de limpieza de datos se desprecian grandes cantidades de partes de estos datos.
            Es bien sabido que la data que se ve irrelevante en este momento, puede ser de valor incalculable en un futuro.</p>
        <p>En un Datalake se guardan datos en una gran variedad de formatos, sin alterar ni modificar, de esta manera, se puede buscar determinada información en el presente y sacar diferentes conclusiones de la misma data en un futuro.</p>
        <p>Esto a su vez genera la posibilidad de ampliar la variedad en el desarrollo de software especializado en ciencia de datos, analisis de datos, machine learning e inteligencia artificial, siendo estos, producto de una fabrica de software del  CENTRO DE GESTIÓN DE MERCADOS, LOGÍSTICA Y TECNOLOGÍAS DE LA INFORMACIÓN.</p>
        <p>Otra area representativa de las posibilidades es la explotacion de datos basada en la exploracion de informacion del comercio y tendencias que pueden generar areas como el Inhouse52, Obtrends52, Sim52 y otras.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>DIFERENCIA DE UN DATA WAREHOUSE</h4>
        <p>En un Data Warehouse se guarda data limpia, organizada y procesada y para ello se requiere de una tecnología más excelsa, para proporcionar un alto rendimiento en el análisis. Los altos costos incluyen administración y mantenimiento especializado, copias de seguridad y dispositivos de seguridad de punta.</p>
        <p>Se presentan barreras de recuperación de data, cargado de data, intercambio de data, lo que  hace que sean más costosos los procesos.</p>
        <p>El Data Warehouse es el segundo paso despues del Datalake pero no se incluye en este proyecto.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>IMPORTANCIA DE UN DATA LAKE</h4>
        <p>Los equipos son de gran escalabilidad y de bajo costo, esto permite almacenarlo todo sin descartar nada.</p>
        <p>La parte de computo va separada y puede ser accesible desde casi cualquier parte sin costos adicionales lo que hace que las cargas computacionales y de análisis estén a cargo del usuario.</p>
        <p>La facilidad del acceso a los datos, promueve el autoservicio y facilita el montaje y desmontaje de entornos de prototipos y sandbox analíticos rápidamente.</p>
        <p>El almacenamiento de los datos es confiable ya que estos están en estado original y sin alteración.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>INFRAESTRUCTURA</h4>
        <p>Los equipos necesarios para la creacion y mantenimiento de un datalake en general son de gran escalabilidad y de bajo costo, esto permite almacenarlo todo sin descartar nada.</p>
        <p>El almacenamiento de los datos se torna confiable ya que estos están en estado original y sin alteración.</p>
        <p>El area de procesamiento y computo es independiente y va separada de el datalake, sn embargo el datalake es accesible desde casi cualquier parte sin costos adicionales lo que hace que las cargas computacionales y de análisis estén a cargo del usuario lo que facilita el acceso a los datos, promueve el autoservicio y hace que el montaje y desmontaje de entornos de prototipos sea mucho mas sencillo y veloz.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h2 class="c">“TORTURA LOS DATOS Y ELLOS TE CONFESARAN TODO”</h2>
    </div>
    <div class="col-7 mx-auto mt-4">
        <h4>"If you torture the data long enough, it will confess to anything."</h4>
        <h5>—Ronald Coase, winner of a Nobel Prize in Economics</h5>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>PLAN DE TRABAJO</h4>
        <p>Para el diseño y desarrollo de este proyecto se contará con el apoyo y cooperación de varias fichas del CENTRO DE GESTIÓN DE MERCADOS, LOGÍSTICA Y TECNOLOGÍAS DE LA INFORMACIÓN que cuenten con el conocimiento requerido para las diferentes tareas a ejecutar.</p>
        <p>Lo que se busca es que todo el proceso sea ejecutado por los aprendices de las fichas pertinentes obviamente bajo la supervisión de los Instructores de cada ficha.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h2 class="c">“UN DATALAKE DEL SENA PARA EL SENA”</h2>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h3>FASES DE CONSTRUCCIÓN</h3>
        <ul class="lists">
            <li>Fase 1. - Permisos, Autorizaciones y Manejos de Informacion</li>
            <li>Fase 2. - Diseño General</li>
            <li>Fase 3. - Coordinación de las Fichas Involucradas</li>
            <li>Fase 4. - Adecuación y Conexión de Equipos</li>
            <li>Fase 5. - Configuración Inicial de Equipos</li>
            <li>Fase 6. - Instalación de Software Necesario</li>
            <li>Fase 7. - Ingesta de Datos</li>
            <li>Fase 8. - Pruebas Iniciales</li>
            <li>Fase 9. - Desarrollo de Programas Para Aprendices y Practicantes</li>
            <li>Fase 10. - Programa de Mantenimiento Preventivo y Correctivo</li>
            <li>Fase 11. - Documentación</li>
            <li>Fase 12. - Planeación de Escalamiento</li>
        </ul>

    </div>
    
    <div class="col-11 mx-auto mt-4">
        <h4>Fase 0. - Presentación del Proyecto</h4>
        <p>En esta Fase se presenta el proyecto al coordinador Jhon Jairo Leuro Delgado para su aprobación y consentimiento, estando conscientes que él estará informado constantemente del progreso y desarrollo del proyecto en caso de ser aprobado.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 1. - Permisos, Autorizaciones y Manejos de Informacion</h4>
        <p>En esta fase se buscarán los permisos legales y extra-legales necesarios para el uso de las instalaciones, Los equipos requeridos, las licencias de software necesarias y las reglas requeridas en la sala acordadas por el coordinador o el responsable de la sala de cómputo.</p>
        <p>Ademas de los procedimientos legales respecto al manejo de los datos, autorizaciones y abeas data.</p>
    </div>
    <div class="col-11 mx-auto mt-4">
        <h4>Fase 2. - Diseño General</h4>
        <p>Durante esta etapa se realiza el diseño del proyecto en general que incluye la implementacion del software necesario, las forma de gobernanza de los datos, y el acceso a estos.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 3. - Coordinación de las Fichas Involucradas</h4>
        <p>En esta etapa se busca la organización y coordinación del personal (Aprendices) de las diferentes fichas involucradas para lograr un desarrollo armónico de las tareas a desarrollar.</p>
        <p>Las posibles fichas a involucrar son:</p>
        <p>Tecnologo en gestión logística, Técnico en Sistemas, Técnico en seguridad y salud en el trabajo, Tecnologo en análisis y desarrollo en sistemas de información, Tecnólogo en redes, Programación para analítica de datos.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 5. - Configuración Inicial de Equipos</h4>
        <p>Para esta etapa se busca que los equipos trabajen de manera correcta con la configuración básica de hardware y software necesaria para un excelente desempeño.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 6. - Instalación de Software Necesario</h4>
        <p>En esta fase se busca instalar el software necesario para las tareas específicas a realizar, la configuración del data lake y las herramientas pertinentes para el uso de este.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 7 - Programa de Civer-Seguridad</h4>
        <p>En este momento se implementara el sistema de civerseguridad necesario para la proteccion tanto del datalake como de los datos almacenados en este.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 7. - Ingesta de Datos</h4>
        <p>Este es el momento en que se comenzará la alimentación de datos al data lake, observando su comportamiento, este proceso solo se podra hacer por medio de un administrador del sistema.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 8. - Pruebas Iniciales</h4>
        <p>Se comienzan las pruebas del hardware y el software instalado para las prácticas que se desarrollaran en esta sala.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 9. - Desarrollo de Programas Para Aprendices y Practicantes</h4>
        <p>En esta etapa se diseñarán los proyectos que los aprendices podrán desarrollar como limpieza y preparación de datos dejándolos listos para su análisis y uso de herramientas como MongoDb, power Bi para análisis avanzado de data destinada a inteligencia de negocios y otros posibles programas que puedan surgir durante la utilización de esta tecnología.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 10. - Programa de Mantenimiento Preventivo y Correctivo</h4>
        <p>Desarrollo de los programas de mantenimiento preventivo y correctivo del software y de la estructura de datos.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 11. - Documentación</h4>
        <p>Esta etapa se recolecta toda la información que resulte de el desarrollo del proyecto en todas sus áreas, dejando constancia de cada paso y cada tarea realizada y sus resultados tanto positivos como negativos para testimonio y referencia a futuras generaciones tanto Instructores como aprendices del SENA y posiblemente para otras entidades interesadas en proyectos similares.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>Fase 12. - Planeación de Escalamiento</h4>
        <p>Si se determina que el proyecto es efectivo y tiene capacidad de crecimiento, el paso mas importante es buscar la forma de clonar el proyecto en otros 2 sitios lejos de su cede, por seguridad de los datos, Una de las posibilidades es la de replicar el datalake en la sede de Fontibon y la otra seria buena opcion el replicar el clonar el datalake en una cede de otra ciudad.</p>
        <p>En este punto se podrán hacer estudios de escalamiento del centro, observando la posibilidad de llevar el proyecto a otro nivel como seria una nube propia del Territorio Nacional o un centro de cómputo más especializado que preste servicios a entidades públicas y privadas, proveyendo una experiencia mayor y mas técnica para los aprendices y/o otros profesionales del área en diferentes entidades.</p>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>FINALIDAD</h4>
        <p>Lo que se busca con la construcción del Datalake es tener una herramienta que sea real para propósitos educativos a los diferentes temas que se dictan en el SENA, entre los cuales se pueden contar:</p>
        <ul class="lists">
            <li>- Cómo trabaja un Datalake desde el punto de vista de los equipos, conexiones y configuración.</li>
            <li>- Implementacion de programas avanzados de ciberseguridad.</li>
            <li>- Implementacion de un area de desarrollo de software destinado al aprobechamiento de los datos y la informacion almacenada.</li>
            <li>- Una herramienta potente para el análisis y procesamiento de datos.</li>
            <li>- Prestación de servicios de software y de datos a los diferentes centros del sena.</li>
            <li>- La posibilidad de escalar a servicios de asesoramiento a otras sedes, empresas publicas y a empresas privadas.</li>
        </ul>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h3>PUNTOS DE INVESTIGACIÓN Y APRENDIZAJE</h3>
        <p>La construcción del Data Lake da la oportunidad de generar un ambiente ideal para la prácticas en:</p>
        <ul class="lists">
            <li>- Instalación, conexión y redes</li>
            <li>- Configuración inicial de un lago de datos y el software perisferico.</li>
            <li>- CiberSeguridad</li>
            <li>- Analisis, exploracion y explotacion de Datos</li>
            <li>- Lenguajes de programación</li>
            <li>- Las diferentes bases de datos que se consideren adecuadas</li>
            <li>- Otros tipos de software que se utiliza.</li>
        </ul>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>EN ANALÍTICA DE DATOS</h4>
        <p>El Datalake permitirá un estudio e investigación más profunda de los procesos de datos como:</p>
        <ul class="lists">
            <li>- Lenguajes de programación</li>
            <li>- Ingestión de data - cómo buscar y manipular los datos</li>
            <li>- Almacenamiento de datos - clasificación para el almacenamiento</li>
            <li>- Limpieza de datos - procesos a los datos</li>
            <li>- Bases de datos - manipulación de datos en las diferentes bases de datos</li>
            <li>- Analítica descriptiva - ¿Qué fue lo que pasó?</li>
            <li>- Analítica de Diagnóstico - ¿Por qué pasó?</li>
            <li>- Analítica Predictiva - ¿Qué va a Pasar?</li>
            <li>- Inferencia Causal - ¿Que podíamos haber hecho?</li>
            <li>- Machine Learning</li>
            <li>- Procesamiento de lenguaje natural</li>
            <li>- Inteligencia Artificial.</li>
        </ul>
    </div>

    <div class="col-11 mx-auto mt-4">
        <h4>RECURSOS</h4>
        <p>Como se comento anteriormente, comenzaremos con lo mínimo requerido en equipos, estos pueden ser:</p>
        <p class="atxt1a">Hardware</p>
        <p>El hardware requerido en este momento, tengo entendido que ya existe en las instalaciones del SENA y solo seria que fuera asignado para comenzar el desarrollo del proyecto.</p>
        <ul class="lists">
            <li>- 1 Servidor</li>
            <li>- 16 gb memoria ram minimo</li>
            <li>- 10 Terabytes de almacenamiento </li>
            <li>- 2 Terminales con mínimo 8 gb de memoria ram c/u</li>
        </ul>

        <p class="atxt1a">Software</p>
        <p>Para comenzar utilizaremos en lo posible software open source o software libre, como:</p>
        <ul class="lists">
            <li>- Ubuntu Server: https://ubuntu.com/#download</li>
            <li>- Libre Office: https://www.libreoffice.org/download/download-libreoffice/</li>
            <li>- big-data-analytics: https://www.selecthub.com/big-data-analytics/open-source-big-data-analytics-software/, https://www.guru99.com/big-data-analytics-tools.html</li>
            <li>MongoDb Server y MongoDb Compaz</li>
            <li>MariaDb</li>
            <li>Sqlite3</li>
            <li>Python</li>
            <li>Otros</li>
        </ul>

        <div class="col-11 mx-auto mt-4">
            <h4>CONCLUCION</h4>
            <p>Lo que se propone en la primera etapa es la creación del Datalake usando los recursos existentes sin generar costos adicional y con mano de obra de los aprendices del centro como laboratorio experimental para ellos y lograr una herramienta que brinde conocimiento cientifico y profundo en las areas ya mencionadas de la computacion y los datos.</p>
        </div>

    </div>

    <div class="col-11 mx-auto mt-4">
        <h5>Gabriel Eduardo Masutier Robayo</h5>
        <h6>Aprendiz SENA</h6>
        </h6>Ficha 2671743 Programación para Analítica de Datos</h6>
        <hr>
        <p>Bogotá D.C. Noviembre 2023</p>
    </div>

</div>
{% endblock %}
