{% extends 'senadlake/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% include 'senadlake/partials/banner.html' %}

<div class="col-md-12 mx-auto bodyx p-5">
    <div class="col-12 mx-auto">
        <div class="row">
            <div class="col-3 mx-auto px-5 atxt0">

                <div class="col-12 ">
                    {% include 'loads/partials/sideMenu.html' %}
                </div>
                
            </div>

            <div class="col-9 mx-auto ">
                <form action="csvCall" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                {% if allFiles %}
                <div class="col-11 row align-items-center">
                    <div class="col-5 mx-auto">
                        <h2 class="atxt1b">Files</h2>
                    </div>
                    <div class="col-5 mx-auto">
                        <h5 class="text-center atxt1c">Total Archivos = {{ allcount }}</h5>
                    </div>
                </div>
                    
                    {% for item in allFiles %}
                        <div class="card mb-3 formsback">

                            <div class="card-header">
                                <div class="row">
                                    {% if item.data_set == 1 %}
                                        <div class="col-8">
                                            Data_Set
                                        </div>
                                        <div class="col-4">
                                            <a class="badge rounded-pill text-bg-dark abak2 alink" name="csv" href="{% url 'dataSetDetail' item.id %}" value="{{ item.id }}">DataSet Info</a>
                                        </div>
                                    {% else %}
                                        <div class="col-8">
                                            Single File
                                        </div>
                                        <div class="col-4">
                                            <a class="badge rounded-pill text-bg-dark abak2 alink" name="csv" href="{% url 'csvCall' item.id %}" value="{{ item.id }}">csv</a>
                                            <a class="badge rounded-pill text-bg-dark abak2 alink" name="csv" href="{% url 'xlsxCall' item.id %}" value="{{ item.id }}">xlsx</a>
                                            <a class="badge rounded-pill text-bg-dark abak2 alink" name="csv" href="{% url 'jsonCall' item.id %}" value="{{ item.id }}">json</a>
                                            <a class="badge rounded-pill text-bg-dark abak2 alink" name="csv" href="{% url 'pdfCall' item.id %}" value="{{ item.id }}">pdf</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="card-body">
                                {% if item.data_set == 1 %}
                                <div class="col-9">
                                    <h5 class="card-title atxt1d">{{item.set_name}}</h5>
                                </div>
                                {% else %}
                                <div class="col-9">
                                    <h5 class="card-title atxt1d">{{item.jsonFile}}</h5>
                                </div>
                                {% endif %}

                                <h5 class="card-text">{{item.description}}</h5>
                                
                                <div class="row">
                                    <div class="col-4">
                                        <p class="card-text"><small class="text-body-secondary">Uploaded - {{item.uploaded_at}}</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="card-text"><small class="text-body-secondary">Updated - {{item.updated}}</small></p>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                </form>
            </div>

            <div class="col-md-8 mx-auto mt-5">
                {% if allcount > 5 %}
                    {% include 'loads/partials/pagination.html' %}
                {% endif %}
            </div>
            
            
        </div>
    </div>
</div>

{% endblock %}
