{% extends 'senadlake/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% include 'senadlake/partials/banner.html' %}
    
<div class="col-11 mx-auto mb-5">

    <div class="col-8 mx-auto ">
        <div class="row">
            <div class="col-2 mx-auto mt-5">
                <img src="/static/img/icons/xls.png" class="imgpage" alt="XLS" />
            </div>

            <div class="col-9 mx-auto">
                <div class="col-8 mx-auto mt-5">
                    <h1>.xlsx Manipulation App</h1>
                </div>
                <div class="col-8 mx-auto mt-3">
                    <p>.xlsx or flat text files manipulation application</p>
                </div>
                <div class="col-8 mx-auto mt-3 mb-5">
                    <h3>File: {{ inputFile }}</h3>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="col-md-11 mx-auto mt-5">
        <div class="col-7 mx-auto p-5 formsback">
            <form action="{% url 'xlsAllFiles' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" type="hidden" name="inputFile" id="{{ inputFile }}" value="{{ inputFile }}">
                <h5 class="c">Pick the sheet to process</h5>
                <div class="col-6 mx-auto mt-4">
                    
                    {% for sheet in sheet_names %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sheetName" id="sheetName" value="{{ sheet_names }}" >
                            <label class="form-check-label" for="sheetName">{{ sheet_names }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-7 mx-auto mt-4">
                    <div class="d-grid gap-2">
                        <button id="butSpin" class="btn btn-primary btn-sm btn-color mt-3" type="submit" name="submit">Procesar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}