{% load static %}

<div class="d-grid gap-2">
    <form action="/searchFiles/" method="POST" id="systemForm">{% csrf_token %}
        <h3 class="mb-2 atxt1b">Filters</h3>
        <div class="d-grid gap-2">

            <h3 class="mb-2 atxt1d">Quality</h3>

            <button type="submit" name="system" value="Abiertos" form="systemForm" class="btn btn-success abak6">Abiertos</button>
            <button type="submit" name="system" value="Privados" form="systemForm" class="btn btn-success abak6">Privados</button>
            <button type="submit" name="system" value="Clasificados" form="systemForm" class="btn btn-success abak6">Clasificados</button>

            <h3 class="mb-2 atxt1d">Authority</h3>

            <button type="submit" name="system" value="Oficial" form="systemForm" class="btn btn-success abak6">Oficial</button>
            <button type="submit" name="system" value="Publico" form="systemForm" class="btn btn-success abak6">Publico</button>

            <h3 class="mb-2 atxt1d">Category</h3>

            <button type="submit" name="system" value="Ciencia" form="systemForm" class="btn btn-success abak6">Ciencia</button>
            <button type="submit" name="system" value="Comercio" form="systemForm" class="btn btn-success abak6">Comercio</button>
            <button type="submit" name="system" value="Cultura" form="systemForm" class="btn btn-success abak6">Cultura</button>
            <button type="submit" name="system" value="Educacion" form="systemForm" class="btn btn-success abak6">Educacion</button>
            <button type="submit" name="system" value="Medicina" form="systemForm" class="btn btn-success abak6">Medicina</button>

            <h3 class="mb-2 atxt1d">Territory</h3>

            <button type="submit" name="system" value="Nacional" form="systemForm" class="btn btn-success abak6">Nacional</button>
            <button type="submit" name="system" value="Departamental" form="systemForm" class="btn btn-success abak6">Departamental</button>
            <button type="submit" name="system" value="Municipal" form="systemForm" class="btn btn-success abak6">Municipal</button>
            <button type="submit" name="system" value="Zonal" form="systemForm" class="btn btn-success abak6">Zonal</button>
            <button type="submit" name="system" value="Barrio" form="systemForm" class="btn btn-success abak6">Barrio</button>

        </div>
    </form>
</div>
